/node_modules
/public/hot
/public/storage
/public/user-uploads/*
!public/user-uploads/.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
/.idea
/.vscode
/.vagrant
*.zip
.DS_Store
mix.js.map
mix-manifest.json
ngrok
/storage/installed
/storage/framework/laravel-excel/
grumphp.yml
/bootstrap/cache/*
storage/reviewed
storage/fonts/installed-fonts.json
resources/lang/*
!resources/lang/eng/
!resources/lang/vendor/backup/eng
!resources/lang/eng.json
froiden-verify/
resources/views/sections/custom_script.blade.php/
demo_db_copy.sql
