!DejaVuSans.ufm.php
!DejaVuSans-Bold.ufm.php
!DejaVuSansMono.ufm.php
!dompdf_font_family_cache.php
!Helvetica-Bold.afm.php
!Helvetica.afm.php
!Hind-Regular.ttf
!Hind-Regular.ufm
!Hind-Regular.ufm.php
!ipag.ttf
!ipag.ufm
!ipag.ufm.php
!NotoSans-Regular.ttf
!NotoSans-Regular.ufm
!NotoSans-Regular.ufm.php
!simhei.ttf
!TH_Sarabun.ttf
!TH_SarabunBold.ttf
!TH_SarabunBoldItalic.ttf
!TH_SarabunItalic.ttf
!Times-Bold.afm.php
!Times-Roman.afm.php
!firefly-sung-normal_fbe0d3322808aed4540a9fbbf02fdc78.ttf
!firefly-sung-normal_fbe0d3322808aed4540a9fbbf02fdc78.ufm
!firefly-sung-normal_fbe0d3322808aed4540a9fbbf02fdc78.ufm.php
!simhei-normal_ffd2f0dda6972c62029d66e71acfac36.ttf
!simhei-normal_ffd2f0dda6972c62029d66e71acfac36.ufm
!simhei-normal_ffd2f0dda6972c62029d66e71acfac36.ufm.php
*.php
*.ttf
*.ufm
*.ufm.json
!THSarabunNew_Bold.ttf
!THSarabunNew_Bold_Italic.ttf
!THSarabunNew_Italic.ttf
!BeVietnamPro-Black.ttf
!BeVietnamPro-BlackItalic.ttf
!BeVietnamPro-Bold.ttf
!Times-Bold.afm.json
!Times-Roman.afm.json
